# USER y PASSWORD hacen referencia a la auth de la DATABASE (por defecto rol postgres y la contrasena es tu contrasena del rol postgres)
# DATABASE al nombre de la bd (por defecto reserva)
# PORTDB al puerto de la bd (por defecto 5432)
# PORT al puesto de escucha del backend (por defecto 3000)
# Modifica los valores a tu necesidad en este archivo

USER=
PASSWORD=
DATABASE=
PORTDB=
PORT=